/*
 * App Preloader
**/


@keyframes rocking {
	from {transform: rotate(1deg);}
	50%{transform: rotate(-1deg);}
	to {transform: rotate(1deg);}
}


.app-preloader {
	background-color: #262938;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	display: visible;
}


.app-preloader.--is-loaded {
	visibility: hidden;
	opacity: 0;
	transition: opacity 500ms ease-in, visibility 0ms ease-in 500ms;
}


.app-preloader__big-logo {
	animation: rocking 3s ease-in-out infinite;
	background-image: url('../../img/big-logo.svg');
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 20%;
	background-position-x: 50%;
	background-position-y: 33%;
}


.app-preloader__title {
	position: fixed;
	bottom: 2em;
	color: white;
	width: 100%;
	text-align: center;
}
