/*
 * Categories Area and contents
**/


.categories {
	display: flex;
	flex-direction: column;
	padding-top: 26px;
}

.category-button {
	height: 23px;
	margin-bottom: 6px;
	margin-left: 18px;
	border-radius: 12px 0 0 12px;
	padding-left: 8px;
	font-size: 14px;
	font-weight: 600;
	color: white;
	display: flex;
	flex-direction: row;
	cursor: pointer;
}

.category-button.selected, .category-button:hover {
	margin-left: 6px;
}

.category-button.hidden {
	display: none;
}

.category-button l- {
	align-self: center;
}

.lib-header {
	margin-top: 18px;
	margin-left: 6px;
	margin-bottom: 14px;
	font-size: 12px;
	color: #6e7895;
	padding-left: 12px;
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

.lib-button-holder {
	padding-left: 16px;
}

.libraries {
	padding-top: 12px;
}

.round-button {
	cursor: pointer;
	border: 2px solid #3e4259;
	border-radius: 14px;
	color: #c5b3b0;
	font-size: 14px;
	font-weight: 600;
	padding: 2px 8px;
	height: 16px;
}

.round-button:hover {
	background-color: gold;
	color: #3e4259;
}
