/*
 * Menus
**/


.menu-container {
	position: fixed;
	z-index: var(--zindex-menu);

	box-shadow: 0 0 12px 0px rgba(0,0,0,0.25);
	overflow-y: auto;
}


.menu {

	&.--top-menu {
		color: var(--color-blue-grey-50);
		background-color: var(--color-blue-grey-900);
	}

	&.--context-menu {
		color: var(--color-blue-grey-900);
		background-color: var(--color-blue-grey-050);
	}
}


.menu__button {
	padding: var(--space-6) var(--space-8);
	width: 100%;

	display: flex;
	gap: var(--space-8);

	line-height: 1;
	transition:
		color var(--duration-200) ease,
		background-color var(--duration-200) ease;

	&:not(.--is-disabled):hover {
		color: var(--color-blue-grey-900);
		background-color: var(--color-yellow-action);
	}

	&.--is-disabled {
		opacity: 0.4;
		pointer-events: none;
	}
}


.menu__button-tick {
	display: block;
	width: var(--space-16);
	height: var(--space-16);

	.--top-menu & {
		color: var(--color-blue-grey-500);
	}

	.--context-menu & {
		color: var(--color-blue-grey-300);
	}

	.--is-checked & {
		color: var(--color-boolean-green);
	}
}
