/*
 * Tips at the bottom
**/


.tips {
	color: white;
	font-size: 14px;
	vertical-align: bottom;
}


.tips__title {
	font-weight: 600;
	padding-left: 7px;
}


.tips__content {
	padding-left: 6px;
}


.tips__icon {
	vertical-align: bottom;
}
