/*
 * Windows
**/





.window {
	position: absolute;

	display: flex;
	flex-direction: column;

	background-color: var(--color-blue-grey-50);
	box-shadow: var(--boxShadow-window);
	border-radius: var(--borderRadius-4);
	overflow: hidden;
}





/* Top */


.window__top {
	height: var(--space-32);
	padding: var(--space-4) var(--space-8) var(--space-4) var(--space-12);

	display: flex;
	align-items: center;
	gap: var(--space-16);

	background-color: var(--color-blue-grey-850);
	/* cursor: grab; */
}


.window__title {
	flex-grow: 1;

	font-size: var(--fontSize-14);
	color: var(--color-blue-grey-50);
	/* font-weight: 700; */
}


.window__close {
	width: var(--space-16);
	height: var(--space-16);

	color: var(--color-blue-grey-50);
	transition: color var(--duration-100) ease-in-out;
	cursor: pointer;

	svg {
		width: 100%;
	}

	&:hover {
		color: var(--color-yellow-action);
	}
}





/* Body */


.window__body {
	flex-grow: 1;
	padding: var(--space-32) var(--space-24);

	cursor: default !important;
	overflow: auto;

	text-align: center;
	font-size: 14px;


	/* Elements */

	input {
		min-height: var(--space-32);
		padding: var(--space-4) var(--space-12);

		border: 0;
		text-align: center;
		font-size: var(--fontSize-18);
		background-color: var(--color-white);
		transition: all var(--space-200) ease-in-out;
		outline: 0px solid var(--color-yellow-action);

		&:focus {
			outline: var(--space-2) solid var(--color-yellow-action);
		}
	}
}




/* Buttons */


.window__buttons {
	padding: 0 var(--space-32) var(--space-16);
	margin: 0 auto;

	display: flex;
	flex-direction: row-reverse; /* easier to revert in style than in code */
	justify-content: center;
	gap: var(--space-4);
}


.window__resize {
	width: var(--space-16);
	height: var(--space-16);

	position: absolute;
	right: 0;
	bottom: 0;

	background: url('../../img/resize.svg') no-repeat;
	background-position: bottom var(--space-2) right var(--space-2);

	&:hover {
		cursor: nwse-resize;
	}
}
