/*
 * Windows
 *
 * TODO Refactor classes
**/


.window {
	display: flex;
	flex-direction: column;
	position: absolute;
	box-shadow: 0 0 12px 0px rgba(0,0,0,0.25);
	border-radius: 4px;
	overflow: hidden;
}

.win-title {
	background-color: #2D3143;
	line-height: 20px;
	padding-left: 8px;
	margin: 0;
	cursor: grab;
	color: #ECEDF1;
	font-size: 12px;
	font-weight: 700;
}

.win-close {
	float: right;
	margin-right: 2px;
	line-height: 14px;
	color: #ECEDF1;
	background: none;
	border: none;
	cursor: pointer;
}

.win-close:hover {
	color: gold;
}

.win-body {
	flex-grow: 2;
	padding: 8px;
	cursor: default !important;
	overflow: auto;
	background-color: #ECEDF1;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.win-input {
	border: 1px solid #B0B3C5;
	border-radius: 10px;
	padding: 0 8px;
}

.win-buttons {
	display: flex;
	flex-direction: row-reverse; /* easier to revert in style than in code */
	justify-content: center;
	padding: 8px 0;
	gap: 2px;
	background-color: #ECEDF1;
}

.win-button {
	font-weight: 700;
	border: 1px solid #B0B3C5;
	padding: 4px 10px;
	color: #262938;
	border-radius: 100px;
	cursor: pointer;
	font-size: 12px;
}

.win-button:focus, .win-button.default {
	color: #ECEDF1;
	background-color: #262938;
	border-color: #262938;
	outline: none;
}

.win-button:hover {
	color: #262938;
	background-color: #FED722;
	border-color: #FED722;
}

.win-resize {
	cursor: nwse-resize;
	position: absolute;
	right: 1px;
	bottom: 1px;
	background: url('../img/resize.svg') no-repeat;
	width: 10px;
	height: 10px;
	border: 0;
}
