body {
	font-family: arial;
	margin: 0;
	overflow: hidden;
}

/* ↓↓↓ MARC: DESTROY THIS ↓↓↓ */

@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@keyframes rocking {
	from {transform: rotate(1deg);}
	50%{transform: rotate(-1deg);}
	to {transform: rotate(1deg);}
}

.loading {
	background-color: #262938;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	display: visible;
}

.loading.loaded {
	visibility: hidden;
	opacity: 0;
	transition: opacity 500ms ease-in, visibility 0ms ease-in 500ms;
}

.loading h1 {
	position: fixed;
	bottom: 2em;
	color: white;
	width: 100%;
	text-align: center;
}

.loading .big-logo {
	animation: rocking 3s ease-in-out infinite;
	background-image: url('img/big-logo.svg');
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 20%;
	background-position-x: 50%;
	background-position-y: 33%;
}
.ide {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.top-bar {
	width: 100%;
	height: 48px;
	background-color: #262938;
	border-bottom: 1px solid #454A64;
	z-index: 1;
}

.workspace {
	display: flex;
	flex-direction: row;
}

.left-bar {
	background-color: #2d3143;
	width: 192px;
	min-width: 192px; /* Should change to 65 when the final layout is done */
	max-width: 300px;
	display: flex;
	flex-direction: column;
}

.tip-bar {
	width: 100%;
	height: 24px;
	background-color: #2d3143;
}

.script-controls {
	position: fixed;
	z-index: 2;
	right: 24px;
	bottom: 48px;
	border: 1px solid;
	border-radius: 5px;
	padding: 1px 6px;
	background-color: #FFFFFFDD;
	border-color: #eff0f2;
}

.script-controls.dark-mode {
	border-color: #454a64;
	background-color: #454a6466;
}

.categories {
	display: flex;
	flex-direction: column;
	padding-top: 26px;
}

.category-button {
	height: 23px;
	margin-bottom: 6px;
	margin-left: 18px;
	border-radius: 12px 0 0 12px;
	padding-left: 8px;
	font-size: 14px;
	font-weight: 600;
	color: white;
	display: flex;
	flex-direction: row;
	cursor: pointer;
}

.category-button.selected, .category-button:hover {
	margin-left: 6px;
}

.category-button.hidden {
	display: none;
}

.category-button l- {
	align-self: center;
}

.lib-header {
	margin-top: 18px;
	margin-left: 6px;
	margin-bottom: 14px;
	font-size: 12px;
	color: #6e7895;
	padding-left: 12px;
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

.lib-button-holder {
	padding-left: 16px;
}

.libraries {
	padding-top: 12px;
}

.round-button {
	cursor: pointer;
	border: 2px solid #3e4259;
	border-radius: 14px;
	color: #c5b3b0;
	font-size: 14px;
	font-weight: 600;
	padding: 2px 8px;
	height: 16px;
}

.round-button:hover {
	background-color: gold;
	color: #3e4259;
}

.tip-bar span {
	color: white;
	font-size: 14px;
	vertical-align: bottom;
}

.tip-title {
	font-weight: 600;
	padding-left: 7px;
}

.tip-content {
	padding-left: 6px;
}

.tip-icon {
	vertical-align: bottom;
}

.script-controls .icon {
	padding: 8px 5px 4px 5px;
}

.script-controls .icon img {
	height: 22px;
}

.logo {
	margin-right: 26px;
	margin-left: 4px;
	margin-top: 3px;
}

.buttons-left, .progress, .buttons-right {
	display: inline-flex;
	vertical-align: top;
}

.icon {
	display: inline-block;
	vertical-align: top;
	align-self: center;
	padding-top: 9px;
	padding-left: 5px;
	cursor: pointer;
}
.icon svg:hover > path{
	fill: gold;
}
.menu {
	position: fixed;
	background-color: #2d3143;
	color: white;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 10px 0px black;
}
.menu li {
	list-style: none;
	padding: 0;
}
hr {
	margin: 0
}
.menu-item {
	padding: 4px 8px !important;
	text-wrap: nowrap;
}
.menu-item a {
	display: block;
	width: 100%;
	cursor: pointer;
}
.menu-item .disabled {
	filter: brightness(0.5);
	cursor: default;
}
.menu-item:hover {
	background-color: #fed722;
	filter: brightness(1);
}
.tick.unchecked {
	filter: saturate(0);
}
.tick {
	display: inline-block;
	filter: brightness(1.3);
	vertical-align: middle;
}
.buttons {
	display: flex;
	position: absolute;
	top: 0;
	right: 12px;
}
.buttons .icon {
	margin-left: 6px;
	margin-right: 6px;
}
.buttons-right .connect {
	cursor: pointer;
	display: flex;
}
.icon.connected img {
	filter:	brightness(0) saturate(100%) invert(64%) sepia(12%) saturate(1783%)
					hue-rotate(71deg) brightness(99%) contrast(93%);
}
.buttons-right .connect .label:hover {
	filter:	brightness(0) saturate(100%) invert(72%) sepia(78%) saturate(469%)
					hue-rotate(356deg) brightness(106%) contrast(99%);
}
.buttons-right .connect .label {
	align-self: center;
	color: white;
	padding-top: 0.5em;
	font-weight: 600;
}
.vl {
	border-left: 1px solid #454A64;
}
.title {
	font-size: 24px;
	color: white;
	vertical-align: top;
	margin-left: 12px;
	line-height: 2em;
}
.progress {
	width: 32px;
	height: 32px;
	margin-top: 9px;
	border-radius: 50%;
}

/* allow dragging blocks through these elements */
.can-drag-through {
	pointer-events: all;
}

.can-drag-through.dragging {
	pointer-events: none;
}
