
/* ↓↓↓ MARC: DESTROY THIS ↓↓↓ */

@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

.script-controls {
	display: flex;
	position: fixed;
	z-index: 2;
	right: 24px;
	bottom: 48px;
	border: 1px solid;
	border-radius: 5px;
	padding: 1px 6px;
	background-color: #FFFFFFDD;
	border-color: #eff0f2;
	box-shadow: 0 0 6px 0px rgba(0,0,0,0.10);
}

.script-controls.dark-mode {
	border-color: #454a64;
	background-color: #454a6466;
}

.script-controls .vl {
	margin: 0 5px;
}

.categories {
	display: flex;
	flex-direction: column;
	padding-top: 26px;
}

.category-button {
	height: 23px;
	margin-bottom: 6px;
	margin-left: 18px;
	border-radius: 12px 0 0 12px;
	padding-left: 8px;
	font-size: 14px;
	font-weight: 600;
	color: white;
	display: flex;
	flex-direction: row;
	cursor: pointer;
}

.category-button.selected, .category-button:hover {
	margin-left: 6px;
}

.category-button.hidden {
	display: none;
}

.category-button l- {
	align-self: center;
}

.lib-header {
	margin-top: 18px;
	margin-left: 6px;
	margin-bottom: 14px;
	font-size: 12px;
	color: #6e7895;
	padding-left: 12px;
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

.lib-button-holder {
	padding-left: 16px;
}

.libraries {
	padding-top: 12px;
}

.round-button {
	cursor: pointer;
	border: 2px solid #3e4259;
	border-radius: 14px;
	color: #c5b3b0;
	font-size: 14px;
	font-weight: 600;
	padding: 2px 8px;
	height: 16px;
}

.round-button:hover {
	background-color: gold;
	color: #3e4259;
}

.ide__bottom span {
	color: white;
	font-size: 14px;
	vertical-align: bottom;
}

.tip-title {
	font-weight: 600;
	padding-left: 7px;
}

.tip-content {
	padding-left: 6px;
}

.tip-icon {
	vertical-align: bottom;
}

.script-controls .icon {
	padding: 8px 5px 4px 5px;
}

.script-controls .icon img {
	height: 22px;
}

.logo {
	margin-right: 26px;
	margin-left: 4px;
	margin-top: 3px;
}

.buttons-left, .progress, .buttons-right {
	display: inline-flex;
	vertical-align: top;
	gap: 8px;
}

.buttons-right {
	position: absolute;
	right: 10px;
}

.icon {
	display: inline-block;
	vertical-align: top;
	align-self: center;
	padding-top: 9px;
	cursor: pointer;
}
.icon svg:hover > path {
	fill: gold;
}
.menu {
	position: fixed;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 12px 0px rgba(0,0,0,0.25);
	overflow-y: auto;
}
.top-menu {
	background-color: #2d3143;
	color: white;
}
.context-menu {
	background-color: #ECEDF1;
	color: #262938;

}
.menu li {
	list-style: none;
	padding: 0;
}
hr {
	margin: 0
}
.menu-item {
	padding: 4px 8px !important;
	text-wrap: nowrap;
}
.menu-item a {
	display: block;
	width: 100%;
	cursor: pointer;
}
.menu-item .disabled {
	filter: brightness(0.5);
	cursor: default;
}
.menu-item:hover {
	background-color: #fed722;
	color: #2d3143;
	filter: brightness(1);
}
.tick.unchecked {
	filter: saturate(0);
}
.tick {
	display: inline-block;
	filter: brightness(1.3);
	vertical-align: middle;
}
.buttons {
	display: flex;
	position: absolute;
	top: 0;
	right: 12px;
}
.buttons .icon {
	margin-left: 6px;
	margin-right: 6px;
}
.buttons-right .connect {
	cursor: pointer;
	display: flex;
	gap: 4px;
}
.icon.connected img {
	filter:	brightness(0) saturate(100%) invert(64%) sepia(12%) saturate(1783%)
					hue-rotate(71deg) brightness(99%) contrast(93%);
}
.buttons-right .connect .label:hover {
	filter:	brightness(0) saturate(100%) invert(72%) sepia(78%) saturate(469%)
					hue-rotate(356deg) brightness(106%) contrast(99%);
}
.buttons-right .connect .label {
	align-self: center;
	color: white;
	padding-top: 0.5em;
	font-weight: 600;
}
.vl {
	border-left: 1px solid #454A64;
}
.title {
	font-size: 24px;
	color: white;
	vertical-align: top;
	margin-left: 12px;
	line-height: 2em;
}
.progress {
	width: 32px;
	height: 32px;
	margin-top: 9px;
	border-radius: 50%;
}



/* Windows */

.window {
	display: flex;
	flex-direction: column;
	position: absolute;
	box-shadow: 0 0 12px 0px rgba(0,0,0,0.25);
	border-radius: 4px;
	overflow: hidden;
}

.win-title {
	background-color: #2D3143;
	line-height: 20px;
	padding-left: 8px;
	margin: 0;
	cursor: grab;
	color: #ECEDF1;
	font-size: 12px;
	font-weight: 700;
}

.win-close {
	float: right;
	margin-right: 2px;
	line-height: 14px;
	color: #ECEDF1;
	background: none;
	border: none;
	cursor: pointer;
}

.win-close:hover {
	color: gold;
}

.win-body {
	flex-grow: 2;
	padding: 8px;
	cursor: default !important;
	overflow: auto;
	background-color: #ECEDF1;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.win-input {
	border: 1px solid #B0B3C5;
	border-radius: 10px;
	padding: 0 8px;
}

.win-buttons {
	display: flex;
	flex-direction: row-reverse; /* easier to revert in style than in code */
	justify-content: center;
	padding: 8px 0;
	gap: 2px;
	background-color: #ECEDF1;
}

.win-button {
	font-weight: 700;
	border: 1px solid #B0B3C5;
	padding: 4px 10px;
	color: #262938;
	border-radius: 100px;
	cursor: pointer;
	font-size: 12px;
}

.win-button:focus, .win-button.default {
	color: #ECEDF1;
	background-color: #262938;
	border-color: #262938;
	outline: none;
}

.win-button:hover {
	color: #262938;
	background-color: #FED722;
	border-color: #FED722;
}

.win-resize {
	cursor: nwse-resize;
	position: absolute;
	right: 1px;
	bottom: 1px;
	background: url('../img/resize.svg') no-repeat;
	width: 10px;
	height: 10px;
	border: 0;
}
